<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Projektide haldus</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminsideWebApp.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/V_ logo.png">
</head>

@if (TempData["Success"] != null)
{
    <div class="toast-message success">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="toast-message error">
        @TempData["Error"]
    </div>
}

<body>
    <header>
        <nav class="site-navbar">
            <div class="container">
                <a class="site-brand" asp-controller="Projects" asp-action="Index">
                    <img src="~/images/V_ logo.png" alt="Logo">
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="site-link" asp-controller="Projects" asp-action="Index">
                                Projektid
                            </a>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a asp-controller="Users" asp-action="Index" class="site-link">
                                    Kasutajad
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <form asp-controller="Login" asp-action="Logout" method="post" class="logout-form">
                                @Html.AntiForgeryToken()

                                <button type="submit" class="site-link logout-btn">
                                    <i class="bi bi-box-arrow-right"></i> Logi välja
                                </button>
                            </form>
                        </li>

                    </ul>
                }
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Veltenor OÜ <a asp-area="" asp-controller="Projects"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
